body {
    background-color: #666A6B;
    color: #272723;
    font-family: 'Glory', sans-serif;
    margin: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.ToolBar {
    border-radius: 15px;
    width: 100%;
    height: max-content;
    top: 3%;
    left: 2%;
    background-color: transparent;
    position: absolute;
    box-sizing: border-box;
}

.ToolBarButton {
    margin: 20px;
    width: auto;
    height: auto;
    font-size: large;
    font-family: 'Glory', sans-serif;
    background-color: Transparent;
    color: black;
    border: none;
    overflow: hidden;
    background-color: #3e5055;
    border-radius: 15px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3%;
}

.ToolBarButton:hover {
    background-color: #586c72;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}