@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    background-color: #666A6B;
    color: #272723;
    font-family: 'Glory', sans-serif;
    margin: 25px;
}

.ToolBar {
    border-radius: 15px;
    width: fit-content;
    height: max-content;
    top: 3%;
    left: 2%;
    background-color: rgb(77, 97, 97);
    position: absolute;
    box-sizing: border-box;
}

.ToolBarButton {
    padding: 3%;
    width: auto;
    height: auto;
    font-size: large;
    font-family: 'Glory', sans-serif;
    background-color: Transparent;
    border: none;
    overflow: hidden;
    background-color: #666A6B;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.ToolBarButton:hover {
    background-color: blue;
}